<div class="{% if include.size == '1x' %}col-span-1{% elsif include.size == '2x' %}col-span-2{% endif %}">
    <!-- container with drop shadow -->
    <div class="h-full rounded-3xl bg-black p-4 drop-shadow-[10px_10px_4px_rgba(38,38,38)]">
        <p>
            <img src="/assets/img/{{ include.image }}" alt="{{ include.image }}"
                 class="{% if include.round_image == true %}rounded-full{% elsif include.round_image == false %}rounded-3xl{% endif %}">
        </p>
        <p class="text-justify p-4 rounded-3xl bg-black">
            {{ include.content }}
        </p>
    </div>
</div>