<div class="{% if include.size == '1x' %}col-span-1{% elsif include.size == '2x' %}md:col-span-2{% endif %}">
    <!-- container with drop shadow -->
    <div class="h-full rounded-3xl bg-black p-4 drop-shadow-[10px_10px_4px_rgba(38,38,38)]">
        <div>
            <img src="/assets/img/{{ include.image }}" alt="{{ include.image }}"
                 class="{% if include.round_image == true %}rounded-full{% elsif include.round_image == false %}
                           rounded-3xl{% endif %}">
        </div>
        <div class="before-title pt-16 pb-4">
            <!-- content is a squiggle line created by tricky CSS -->
        </div>
        <h2 class="card-title pb-6">
            <span class="ring-[#222222] ring-4 p-2 uppercase p-2 rounded-xl">{{ include.title }}</span>
        </h2>
        <div class="text-sm text-justify text-gray-400 font-semibold pb-4 rounded-3xl bg-black">
            {{ include.content }}
        </div>
        {% if include.music %}
            {% include _media-controller.html music=include.music %}
        {% endif %}
        <!-- script in footer adds tailwind classes to dynamically create markdown in the content -->
    </div>
</div>