<div>
    <div class="flex items-center justify-center w-11 bg-[#0a0a0a] mr-4 ring-blue-500 ring-2
                    rounded-xl p-2">
        <!-- document icon svg -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 16 16" shape-rendering="crispEdges">
            <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
            <path stroke="#ffffff"
                  d="M6 0h1M5 1h3M4 2h5M3 3h7M2 4h2M5 4h3M9 4h2M1 5h2M4 5h3M8 5h4M0 6h2M3 6h3M7
                                     6h3M11 6h2M1 7h8M10 7h4M2 8h6M9 8h3M13 8h2M3 9h4M8 9h3M12 9h4M4 10h2M7 10h3M11
                                     10h4M5 11h4M10 11h4M6 12h2M9 12h4M7 13h5M8 14h3M9 15h1"/>
            <path stroke="#000000"
                  d="M4 4h1M8 4h1M3 5h1M7 5h1M2 6h1M6 6h1M10 6h1M9 7h1M8 8h1M12 8h1M7 9h1M11 9h1M6
                                     10h1M10 10h1M9 11h1M8 12h1"/>
        </svg>
    </div>
    <h3 class="pt-4">{{ include.institution }}</h3>
    <h2 class="text-gray-400">{{ include.degree }}</h2>
    <p class="text-gray-400 text-sm">{{ include.time }}</p>
    <p>{{ include.description }</p>
        <!-- for description:
        <span class="text-gray-500">&#8853;</span> received a Women Take Tech Scholarship -->
</div>