<footer class="text-sm text-gray-600 text-right mt-8 mb-8 mr-8">
  <p class="-skew-x-12"><span class="ring rounded-full ring-gray-600 bg-black pl-2 pr-2 pt-1 pb-1 font-bold">&copy; {{
    site.time |
    date: '%Y'
    }} {{
    site.title
    }}</span></p>
  <!-- script adds tailwind classes to dynamically create markdown in the content -->
  <script>
    // Add Tailwind classes to elements inside the card content
    document.addEventListener("DOMContentLoaded", function () {
      // Find the parent of the content (the .text-sm div)
      const cardContents = document.querySelectorAll('.text-sm.text-justify.text-gray-400.font-semibold.pb-4.bg-black');
      cardContents.forEach(function (content) {
        // Blockquotes
        content.querySelectorAll('blockquote').forEach(function (el) {
          el.classList.add('border-l-4', 'border-gray-700', 'pl-4', 'italic', 'my-4', 'text-gray-300');
        });
        // Unordered Lists
        content.querySelectorAll('ul').forEach(function (el) {
          el.classList.add('list-disc', 'pl-6', 'my-2', 'space-y-1', 'text-gray-500', 'text-left');
        });
        // List Items
        content.querySelectorAll('li').forEach(function (el) {
          el.classList.add('mb-1', 'ml-2');
          el.setAttribute('style', 'list-style-type: \'⊕ \';');
        });
        // Links
        content.querySelectorAll('a').forEach(function (el) {
          el.classList.add('text-violet-400', 'hover:text-violet-300', 'transition',
                  'duration-150');
          el.setAttribute('target', '_blank');
        });
        content.querySelectorAll('p').forEach(function (el) {
          el.classList.add('pb-4');
        });
      });
    });
  </script>
</footer>
