<div class="basis-2/4"> <!-- big card □ photo -->
    <div class="rounded-3xl bg-black p-4 drop-shadow-[10px_10px_4px_rgba(38,38,38)]">
        <!-- □ photo -->
        <p><img src="/assets/img/onStage.jpeg" alt="Stage Picture" class="rounded-tr-3xl rounded-tl-3xl"></p>
        <!-- text paragraph-->
        <p class="text-justify p-4 rounded">
            On stage at <a href="https://super.magfest.org">MAGfest</a> 2025. Appearing at the same show as
            Bit Brigade, Master Boot Record, Bit Shifter, Cybertronic Spree, Super Strikers and more. Joey is
            pictured here running visuals, a backing track and playing guitar through a rack mount unit.
        </p>
    </div>
</div>