<!-- card size -->
<div class="
    {% if cards.size == '1x' %}basis-1/4
    {% elsif cards.size == '2x' %}basis-2/4
    {% endif %}
">
    <!-- container w/ drop shadow -->
    <div class="rounded-3xl bg-black p-4 drop-shadow-[10px_10px_4px_rgba(38,38,38)]">
        <p>
            <img src="{{ cards.image }}" alt="Profile Picture" class="
                      {% if cards.round_image == true %}rounded-full
                      {% elsif cards.round_image == false %}rounded-3xl
                      {% endif %}">
        </p>

        <!-- text paragraph-->
        <p class="text-justify p-4 rounded-3xl bg-black">
            {{ cards.content }}
        </p>
    </div> <!-- end card -->
</div>