
<div class="basis-1/4">  <!-- small card ○ photo -->
    <div class="rounded-3xl bg-black p-4 drop-shadow-[10px_10px_4px_rgba(38,38,38)]">
        <!-- round ○ photo -->
        <p><img src="/assets/img/joey-profile.jpg" alt="Profile Picture" class="rounded-full"></p>

            <!--
                □ photo
                <p><img src="/assets/img/4gize-teletext.svg" alt="nmlstyl sp33k album cover" class="rounded-3xl"></p>
            -->

        <!-- text paragraph-->
        <p class="text-justify p-4 rounded-3xl bg-black">
            Artist and educator with over 26 years of experience integrating
            traditional music instruction and cutting-edge technology. Seeking collaborative opportunities to blend
            artistic creativity with technical expertise in music, programming, and education.</p>
    </div>
</div>