---
---
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
  background-image:
          linear-gradient(#222222 1.1px, transparent 1.1px),
          linear-gradient(to right, #222222 1.1px, #0a0a0a 1.1px);
  background-size: 40px 40px;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

@media (max-width: 768px) {
/* Initial state */
  #menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity .8s ease, transform 0.3s ease, visibility 0.3s;
  }

  /* Shown menu styles */
  #menu.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.seekbar {
  accent-color: #a855f7;
  background: none;
  width: 100%;
  /* Remove default appearance for consistent custom styles */
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
}
/* Track styling */
.seekbar::-webkit-slider-runnable-track {
  background: rgb(156, 163, 175);
  height: 4px;
  border-radius: 2px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.seekbar::-moz-range-track {
  background: #fff;
  height: 4px;
  border-radius: 2px;
}
.seekbar::-ms-fill-lower, #seekbar::-ms-fill-upper {
  background: #fff;
  height: 4px;
  border-radius: 2px;
}
/* Thumb styling */
.seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background: #a855f7;
  border-radius: 50%;
  border: 4px solid #000;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.seekbar::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #a855f7;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.seekbar::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #a855f7;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
/* Remove extra outline and background on focus for all browsers */
.seekbar:focus {
  outline: none;
  box-shadow: none;
}
/* Firefox fix for vertical alignment */
.seekbar {
  vertical-align: middle;
}
/* Hide the outline on old Edge */
.seekbar::-ms-tooltip {
  display: none;
}

.before-title {
  /* background image svg MUST be URL encoded or it will break the build process */
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%2C12%20Q8%2C24%2016%2C12%20Q24%2C0%2032%2C12%22%20fill%3D%22none%22%20stroke%3D%22%23222222%22%20stroke-width%3D%222%22/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 32px 24px;
  background-position: center;
  min-height: 24px;
  width: 75%;
  margin: 0 auto;
}


