---
---
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
  background-image:
  linear-gradient(#222222 1.1px, transparent 1.1px),
  linear-gradient(to right, #222222 1.1px, #0a0a0a 1.1px);
  background-size: 40px 40px;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

@media (max-width: 768px) {
/* Initial state */
  #menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity .8s ease, transform 0.3s ease, visibility 0.3s;
  }

  /* Shown menu styles */
  #menu.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.seekbar {
  accent-color: #3B82F6;
  background: none;
  width: 100%;
  /* Remove default appearance for consistent custom styles */
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
}
/* Track styling */
.seekbar::-webkit-slider-runnable-track {
  background: rgb(156, 163, 175);
  height: 4px;
  border-radius: 2px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.seekbar::-moz-range-track {
  background: #fff;
  height: 4px;
  border-radius: 2px;
}
.seekbar::-ms-fill-lower, #seekbar::-ms-fill-upper {
  background: #fff;
  height: 4px;
  border-radius: 2px;
}
/* Thumb styling */
.seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background: #3B82F6;
  border-radius: 50%;
  border: 4px solid #000;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.seekbar::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #3B82F6;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.seekbar::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #3B82F6;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
/* Remove extra outline and background on focus for all browsers */
.seekbar:focus {
  outline: none;
  box-shadow: none;
}
/* Firefox fix for vertical alignment */
.seekbar {
  vertical-align: middle;
}
/* Hide the outline on old Edge */
.seekbar::-ms-tooltip {
  display: none;
}

.before-title {
  /* background image svg MUST be URL encoded or it will break the build process */
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%2C12%20Q8%2C24%2016%2C12%20Q24%2C0%2032%2C12%22%20fill%3D%22none%22%20stroke%3D%22%23222222%22%20stroke-width%3D%222%22/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 32px 24px;
  background-position: center;
  min-height: 24px;
  width: 75%;
  margin: 0 auto;
}

.striped-div {
  background:
    linear-gradient(
            135deg,
            black 0 115px,        /* Black base */
            #3B82F6 5px 120px,    /* First stripe (blue) */
            black 5px 125px,      /* Black base */
            #EF4444 5px 130px,    /* Second stripe (red) */
            black 5px 135px,      /* Black base */
            #FCD34D 5px 140px,    /* Third stripe (yellow) */
            black 80px 100%       /* Black base for the rest */
    );
}

.pill-shapes {
  --s: 4px; /* control the size*/
  --c1: #222222;
  --c2: #000000;

  --_g: radial-gradient(calc(var(--s)/2),var(--c1) 100%,#0000);
  background:
          var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
          repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
          repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
  background-size: calc(4*var(--s)) calc(4*var(--s));
}

/* Tailwind Class Macros */

.hdr-1-macro { /* in html wrap in h1 then span with hdr-1-macro */
  @apply ring-[#333333] ring-4 p-2 uppercase rounded-xl bg-black tracking-widest text-lg;
}

.arrow-btn-macro {
  @apply ring-2 bg-black hover:ring-gray-400 py-1 px-4 rounded-xl drop-shadow-[6px_6px_0px_#222222];
}

.reg-btn-macro {
  @apply mr-4 ring-2 mb-4 bg-black hover:ring-gray-400 p-2 rounded-xl drop-shadow-[6px_6px_0px_#222222];
}

#the-canvas {
  border: 1px solid black;
  direction: ltr;
}