/* G R I D  B A C K G R O U N D */
.bg-grid {
  background-image:
  linear-gradient(#222222 1.1px, transparent 1.1px),
  linear-gradient(to right, #222222 1.1px, #0a0a0a 1.1px);
  background-size: 40px 40px;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* S I N E  W A V E */
.before-title {
  /* background image svg MUST be URL encoded or it will break the build process */
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%2C12%20Q8%2C24%2016%2C12%20Q24%2C0%2032%2C12%22%20fill%3D%22none%22%20stroke%3D%22%23222222%22%20stroke-width%3D%222%22/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 32px 24px;
  background-position: center;
  min-height: 24px;
  width: 75%;
  margin: 0 auto;
}

/* S T R I P E S */
.striped-div {
  background:
    linear-gradient(
            135deg,
            black 0 115px,        /* Black base */
            #3B82F6 5px 120px,    /* First stripe (blue) */
            black 5px 125px,      /* Black base */
            #EF4444 5px 130px,    /* Second stripe (red) */
            black 5px 135px,      /* Black base */
            #FDE047 5px 140px,    /* Third stripe (yellow) */
            black 80px 100%       /* Black base for the rest */
    );
}
