<!DOCTYPE html>
<html lang="en" class="h-full dark:text-white dark:bg-[#0a0a0a]">
    {% include _head.html %}
    <body id="body" class="transition-opacity ease-in-out bg-grid min-h-screen flex flex-col">
        {% include _header.html %}
        <div  id="fadeContent" class="pl-8 pr-8">
            <!-- another skill tree with only the tech stuff -->
            <!-- some kind of code example that uses an animated typwriter effect -->
            <!-- embed pico8 standalone -->
            <div id="p8_frame_0" style="max-width:800px; max-height:800px; margin:auto;">
                <div id="p8_frame" style="display:flex; width:100%; max-width:95vw; height:100vw; max-height:95vh; margin:auto;">
                    <div id="p8_menu_buttons_touch" style="position:absolute; width:100%; z-index:10; left:0px;">
                        <div class="p8_menu_button" id="p8b_full" style="float:left;margin-left:10px" onclick="p8_give_focus(); p8_request_fullscreen();"></div>
                        <div class="p8_menu_button" id="p8b_sound" style="float:left;margin-left:10px" onclick="p8_give_focus(); p8_create_audio_context(); Module.pico8ToggleSound();"></div>
                        <div class="p8_menu_button" id="p8b_close" style="float:right; margin-right:10px" onclick="p8_close_cart();"></div>
                    </div>
                    <div id="p8_container" style="margin: auto; display: flex; width: 640px; height: 640px;" onclick="p8_create_audio_context(); p8_run_cart();">
                        <div id="p8_start_button" class="p8_start_button" style="width:100%; height:100%; display:flex;">
                            <img width="80" height="80" style="margin:auto;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAABpklEQVR42u3au23DQBCEYUXOXIGKcujQXUgFuA0XIKgW90Q9oEAg+Ljd27vd2RsCf058gEDqhofPj+OB6SMCAQlIQAIyAhKQgARkBAQDnM6XSRsB7/2e/tSA0//12fCAKsQX3ntDA4oRFwBRIc0AixE38BAhTQGLEAsBUSDNAXcRhYDRIZsAPlp99VECRoXsDpgN0g0wC6Q7IDpkGEBUyG6A0+vKBtkdMBukG2AWSHdAdMgwgKiQ4QDRIMMCokCGB4wOCQPYFVKw2cABNocUjl6wgE0gFashPKAZpHJ2TQNYBVmxW6cDFENWDv9pAUshCVgJScBKSAISkD9hPkT4GkNAMdzepyj8Kye852EBLe51CZHHWQK4JcThD1SlcHPEYY/0a+A0n6SkGZV6w6WZNb3g4Id1b7hwgGhwYQBR4dwB0eHcALPAdQfMBhcOEA0uDCAqnDsgOpwbYBa4poA/31+rZYFrBriFpwGMCtcEcA9PAhgdzhywBK8EEQXOFFCCtwaIBmcGKMWbI6LCmQBq8R6hw5kAMgISkIAEJCAjIAEJSEBGQI9ukV7lRn9nD+gAAAAASUVORK5CYII=">
                        </div>
                        <div id="p8_playarea" style="display: none; margin-right: auto; margin-bottom: auto; margin-left: auto; user-select: none;">
                            <div id="touch_controls_background" style=" pointer-events:none; display:none; background-color:#000; position:fixed; top:0px; left:0px; border:0; width:100vw; height:100vh">&nbsp;</div>
                            <div style="display:flex; position:relative">
                                <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault();" style="width: 640px; height: 640px; margin-left: 0px; margin-top: 0px;"></canvas>
                                <div class="p8_menu_buttons" id="p8_menu_buttons" style="margin-left: 10px; margin-top: 640px;">
                                    <div class="p8_menu_button" style="position:absolute; bottom:125px" id="p8b_controls" onclick="p8_give_focus(); Module.pico8ToggleControlMenu();"></div>
                                    <div class="p8_menu_button" style="position:absolute; bottom:90px" id="p8b_pause" onclick="p8_give_focus(); Module.pico8TogglePaused(); p8_update_layout_hash = -22;"></div>
                                    <div class="p8_menu_button" style="position:absolute; bottom:55px" id="p8b_sound" onclick="p8_give_focus(); p8_create_audio_context(); Module.pico8ToggleSound();"></div>
                                    <div class="p8_menu_button" style="position:absolute; bottom:20px" id="p8b_full" onclick="p8_give_focus(); p8_request_fullscreen();"></div>
                                </div>
                            </div>
                            <div id="touch_controls_gfx" style="pointer-events: none; display: none; position: fixed; top: 0px; left: 0px; border: 0px; width: 100vw; height: 100vh;">
                                <img src="" id="controls_right_panel" style="position:absolute; opacity:0.5;">
                                <img src="" id="controls_left_panel" style="position:absolute;  opacity:0.5;">
                            </div>
                            <textarea id="codo_textarea" class="emscripten" style="display:none; position:absolute; left:-9999px; height:0px; overflow:hidden"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <script src="assets/pico8/nmlstyl.js"></script>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 grid-flow-row-dense">
                {% for item in site.cards %}
                    {% if item.category contains 'code' %}
                        {% include _card.html
                        size=item.size
                        image=item.image
                        round_image=item.round_image
                        content=item.content
                        title=item.title %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include _footer.html %}
    </body>
</html>
