<!DOCTYPE html>
<html lang="en" class="h-full dark:text-white dark:bg-[#0a0a0a]">
{% include _head.html %}
<body id="body" class="transition-opacity ease-in-out bg-grid min-h-screen flex flex-col">
    {% include _header.html %}
    <div id="fadeContent" class="pl-8 pr-8">

    <!-- another skill tree with only the tech stuff -->
    <!-- link to my github with a typewriter effect -->

        <div class="col-span-1 mb-8">
                    <span class="ring-[#333333] ring-4 p-2 uppercase p-2 rounded-xl bg-black tracking-widest text-lg">
                        Tech Related</span>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 grid-flow-row-dense">
            {% for item in site.cards %}
            {% if item.category contains 'code' or item.category contains 'tech' %}
            {% include _card.html
            size=item.size
            image=item.image
            round_image=item.round_image
            content=item.content
            title=item.title %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include _footer.html %}
</body>
</html>
