<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-white">

{% include header.html %}

<!-- cards
profile rounded pic:
<div class="basis-1/4">
    <div class="rounded-3xl bg-black p-4">
        <p><img src="{{ img_url }}" alt="{{ img_alt }}" class="rounded-full"></p>
        &nbsp;
        <p class="text-justify p-4 rounded-3xl bg-black">{{ content }}</p>
    </div>
</div>

square profile pic
<div class="basis-1/4">
    <div class="rounded-3xl bg-black p-4">
        <p><img src="{{ img_url }}" alt="{{ img_alt_txt }}" class="rounded-3xl"></p>
        &nbsp;
        <p class=" text-justify p-3 rounded-3xl">{{ content }}</p>
    </div>
</div>

long horizontal:
    <div class="basis-2/4">
        <div class="rounded-3xl bg-black p-4">
            <p><img src="{{ img_url }}" alt="{{ img_alt_txt }}" class="rounded-tr-3xl rounded-tl-3xl"></p>
            <p class="text-justify p-4 rounded">{{ content }} </p>
        </div>
    </div>
-->

<div class="flex flex-col lg:flex-row gap-12 p-4">
    <div class="basis-1/4">
        <div class="rounded-3xl bg-black p-4"> <!-- card wrapper gets p4-->
            <p><img src="/assets/img/joey-profile.jpg" alt="Profile Picture" class="rounded-full"></p>
            &nbsp;
            <p class="text-justify p-4 rounded-3xl bg-black">
                Artist and educator with over 26 years of experience integrating
                traditional music instruction and cutting-edge technology. Seeking collaborative opportunities to blend
                artistic creativity with technical expertise in music, programming, and education.</p>
        </div>
    </div>

    <div class="basis-2/4">
        <div class="rounded-3xl bg-black p-4">
            <p><img src="/assets/img/onStage.jpeg" alt="Stage Picture" class="rounded-tr-3xl rounded-tl-3xl"></p>
            <p class="text-justify p-4 rounded">
                On stage at <a href="https://super.magfest.org">MAGfest</a> 2025. Appearing at the same show as
                Bit Brigade, Master Boot Record, Bit Shifter, Cybertronic Spree, Super Strikers and more. Joey is
                pictured here running visuals, a backing track and playing guitar through a rack mount unit.
            </p>
        </div>
    </div>

    <div class="basis-1/4">
        <div class="rounded-3xl bg-black p-4">
            <p><img src="/assets/img/4gize-teletext.svg" alt="nmlstyl sp33k album cover" class="rounded-3xl"></p>
            &nbsp;
            <p class=" text-justify p-3 rounded-3xl">
                Latest album release: Joey Mariano on guitar and Yusef Kelliebrew on Drums.
                Other instruments provided by => SNES samples ripped from the terminal, m8 tricks,
                Speak & Spell style synth, Casiotone samples.
            </p>
        </div>
    </div>
</div>

<br>

<div class="flex flex-col lg:flex-row gap-12 px-4">
    <div class="basis-2/4">
        <div class="rounded-3xl bg-black p-4">
            <p><img src="/assets/img/8static.svg" alt="8static Logo" class="rounded-1xl"></p>
            &nbsp;
            <p class="text-justify p-4 rounded-3xl bg-black">Graphic design and web design for 8static.</p>
        </div>
    </div>

    <div class="basis-1/4">
        <div class="rounded-3xl bg-black p-4">
            <p><img src="/assets/img/doomcloud.jpg" alt="Doomcloud Album Art" class="rounded-3xl"></p>
            &nbsp;
            <p class="text-justify p-4 rounded-3xl bg-black">Commissioned pixel art for 8bit peoples.</p>
        </div>
    </div>

    <div class="basis-1/4">
        <div class="rounded-3xl bg-black p-4">
            <p><img src="/assets/img/juvenile-amplifier-little.jpg" alt="Juvenile Amplifier Installation"
                    class="rounded-3xl"></p>
            &nbsp
            <p class="text-justify p-4 rounded-3xl bg-black">Juvenile Amplifier installation</p>
        </div>
    </div>
</div>

{% include footer.html %}

</body>

</html>
