<!DOCTYPE html>
<html lang="en" class="h-full bg-black text-gray-900 dark:bg-gradient-to-br from-stone-900 via-stone-900 to-gray-600
 dark:text-white">

{% include head.html %}

<body class="bg-grid min-h-screen flex flex-col">
<!-- fixes larger screen negative space but cuts off -->

{% include header.html %}

<div class="p-8"> <!-- container for cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 grid-flow-row-dense">
        {% for item in site.cards %}
            {% if item.category contains 'home' %}
                <!-- card size -->
                <div class="{% if item.size == '1x' %}col-span-1{% elsif item.size == '2x' %}lg:col-span-2{% endif %}">
                    <!-- container w/ drop shadow -->
                    <div class="h-full rounded-3xl bg-black p-4 drop-shadow-[10px_10px_4px_rgba(38,38,38)]">
                        <p> <!-- round or square image -->
                            <img src="{{ item.image }}" alt="title" class="{% if item.round_image == true %}rounded-full{% elsif item.round_image == false %}rounded-3xl{% endif %}">
                        </p>

                        <!-- text paragraph-->
                        <p class="text-justify p-4 rounded-3xl bg-black">
                            {{ item.content }}
                        </p>
                    </div> <!-- end card -->
                </div>
            {% endif %}
        {% endfor %}
  </div>
</div>

{% include footer.html %}

</body>

</html>
