<!DOCTYPE html>

<html lang="en" class="h-full dark:text-white dark:bg-[#0a0a0a]">
    {% include _head.html %}
    <!-- !! Include Script for Audio Player !! -->
    ​​<script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@3/+esm"></script>

    <body id="body" class="transition-opacity ease-in-out bg-grid min-h-screen flex flex-col">
        {% include _header.html %}
        <!-- grid container for cards  -->
        <div id="fadeContent" class="pl-8 pr-8">
            <!-- container -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 grid-flow-row-dense pb-4">
                <!-- Audio Player --> 
                <media-controller audio class="w-full bg-transparent">
                    <audio
                        slot="media"
                        src="https://stream.mux.com/O4h5z00885HEucNNa1rV02wZapcGp01FXXoJd35AHmGX7g/audio.m4a" 
                        crossorigin>
                    </audio>
                    <media-control-bar>
                        <media-seek-backward-button class="bg-transparent">
                            <!-- Reference external SVG file -->
                            <img slot="icon" class="w-16 h-16" aria-hidden="true" class="fill-none stroke-white" src="/assets/icons/backward.svg" alt="Backward" />
                        </media-seek-backward-button>
                        <media-play-button class="bg-transparent">
                            <img slot="play" class="w-16 h-16" aria-hidden="true" src="/assets/icons/play.svg" alt="Play" />
                            <img slot="pause" class="w-16 h-16" aria-hidden="true" src="/assets/icons/pause.svg" alt="Pause" />
                        </media-play-button>
                        <media-seek-forward-button class="bg-transparent">
                            <img slot="icon" class="w-16 h-16" aria-hidden="true" class="fill-none stroke-white" src="/assets/icons/forward.svg" alt="Forward" />
                        </media-seek-forward-button>
                        <media-time-display class="bg-transparent"></media-time-display>
                        <media-time-range class="w-64 h-24 bg-transparent"></media-time-range>
                        <media-duration-display class="bg-transparent"></media-duration-display>
                        <media-mute-button class="bg-transparent">
                            <img slot="high" class="w-16 h-16" aria-hidden="true" class="fill-white stroke-white" src="/assets/icons/high.svg" alt="Volume High" />
                            <img slot="medium" class="w-16 h-16" aria-hidden="true" class="fill-white stroke-white" src="/assets/icons/high.svg" alt="Volume Medium" />
                            <img slot="low" class="w-16 h-16" aria-hidden="true" class="fill-white stroke-white" src="/assets/icons/high.svg" alt="Volume Low" />
                            <img slot="off" class="w-16 h-16" aria-hidden="true" class="fill-white stroke-white" src="/assets/icons/off.svg" alt="Muted" />
                        </media-mute-button>
                    </media-control-bar>
                </media-controller>
                <!-- Audio Players End -->
            </div>
            

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 grid-flow-row-dense">
                {% for item in site.cards %}
                    {% if item.category contains "music" or item.category contains "show" %}
                        {% include _card.html
                        size=item.size
                        image=item.image
                        round_image=item.round_image
                        content=item.content
                        title=item.title %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include _footer.html %}
    </body>
</html>
