<!DOCTYPE html>
<html lang="en" class="h-full dark:text-white dark:bg-[#0a0a0a]">
{% include _head.html %}


<body id="body" class="transition-opacity ease-in-out bg-grid min-h-screen flex flex-col">
    <!-- navigation bar  -->
    {% include _header.html %}

    <!-- icons need to be in symbol format for media-controller to work -->
    {% include _svg-icons.html %}

    <!-- grid container for cards  -->
    <div id="fadeContent" class="pl-8 pr-8">
        <!-- container -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 grid-flow-row-dense pb-4">
            <!-- Audio Player -->
            <media-controller audio>
                <audio
                  slot="media"
                  src="https://stream.mux.com/O4h5z00885HEucNNa1rV02wZapcGp01FXXoJd35AHmGX7g/audio.m4a"
                  crossorigin
                ></audio>
                <media-control-bar>
                  <media-seek-backward-button>
                    <svg slot="icon" aria-hidden="true" class="w-7 h-7 fill-none stroke-white">
                      <use href="#backward" />
                    </svg>
                  </media-seek-backward-button>
                  <media-play-button>
                    <svg slot="play" aria-hidden="true" class="w-7 h-7">
                      <use href="#play" />
                    </svg>
                    <svg slot="pause" aria-hidden="true" class="w-7 h-7">
                      <use href="#pause" />
                    </svg>
                  </media-play-button>
                  <media-seek-forward-button>
                    <svg slot="icon" aria-hidden="true" class="w-7 h-7 fill-none stroke-white">
                      <use href="#forward" />
                    </svg>
                  </media-seek-forward-button>
                  <media-time-display></media-time-display>
                  <media-time-range></media-time-range>
                  <media-duration-display></media-duration-display>
                  <media-mute-button>
                    <svg slot="high" aria-hidden="true" class="h-5 w-5 fill-white stroke-white">
                      <use href="#high" />
                    </svg>
                    <svg slot="medium" aria-hidden="true" class="h-5 w-5 fill-white stroke-white">
                      <use href="#high" />
                    </svg>
                    <svg slot="low" aria-hidden="true" class="h-5 w-5 fill-white stroke-white">
                      <use href="#high" />
                    </svg>
                    <svg slot="off" aria-hidden="true" class="h-5 w-5 fill-white stroke-white">
                      <use href="#off" />
                    </svg>
                  </media-mute-button>
                </media-control-bar>
              </media-controller>
            <!-- Audio Player End -->
        </div>


        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 grid-flow-row-dense">
            {% for item in site.cards %}
            {% if item.category contains "music" or item.category contains "show" %}
            {% include _card.html
            size=item.size
            image=item.image
            round_image=item.round_image
            content=item.content
            title=item.title %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include _footer.html %}
</body>

</html>