<!DOCTYPE html>
<html lang="en" class="h-full dark:text-white dark:bg-[#0a0a0a]">

{% include head.html %}

<body class="bg-grid min-h-screen flex flex-col">
<!-- fixes larger screen negative space but cuts off -->

{% include header.html %}

<div class="p-8"> <!-- container for content -->

  <p class="pb-8 text-3xl">EXPERIENCE</p>

  <div class="overflow-x-scroll"><!-- scrollable wrapper  -->
    <ol class="w-max items-top sm:flex ">
      {% assign rev-job = site.jobs | reverse %}
      {% for item in rev-job %}
        <li class="relative mb-6 sm:mb-0">
          <div class="flex items-center">
            <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 16 16" shape-rendering="crispEdges">
                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                <path stroke="#ffffff" d="M4 0h8M4 1h1M11 1h1M1 2h14M0 3h16M0 4h16M0 5h2M3 5h1M5 5h6M12 5h1M14 5h2M0 6h16M0 7h2M3 7h1M5 7h6M12 7h1M14 7h2M0 8h16M0 9h16M0 10h16M0 11h3M5 11h6M13 11h3M0 12h5M11 12h5M0 13h16M0 14h16M1 15h14" />
                <path stroke="#000000" d="M2 5h1M4 5h1M11 5h1M13 5h1M2 7h1M4 7h1M11 7h1M13 7h1M3 11h2M11 11h2M5 12h6" />
              </svg>
            </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
          </div>
          <div class="mt-3 sm:pe-8">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{ item.title }}</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{ item.date }}</time>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">{{ item.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>

  <p class="pb-8 pt-8 text-3xl">EDUCATION</p>
  <p class="pb-8 pt-8 text-3xl">SKILLS</p>

</div>

{% include footer.html %}

</body>

</html>
