<!DOCTYPE html>
<html lang="en" class="h-full dark:text-white dark:bg-[#0a0a0a]">
    {% include _head.html %}
    <body id="body" class="transition-opacity ease-in-out bg-grid min-h-screen flex flex-col">
        {% include _header.html %}
        <div  id="fadeContent" class="pl-8 pr-8"> <!-- container for fade in -->

            <!-- P D F  V I E W E R -->
            <div class="lg:w-1/2 w-full mb-9">
                <div class="grid grid-cols-1 lg:grid-cols-2">
                    <div class="w-full mb-8">
                        <h1><span class="hdr-1-macro">Black Book</span></h1>
                    </div>

                    <!-- loading bars needs lg:grid-col-3
                    <div class="loading-bars h-6 w-full text-center rounded-xl">
                        <span class="bg-black">L O A D I N G</span>
                    </div> -->

                    <div class="w-full text-left lg:text-right mb-8">

                        <button id="prev-page" class="arrow-btn-macro ring-yellow-300 mr-4"> < - - </button>
                        <button id="next-page" class="arrow-btn-macro ring-blue-500"> - - > </button>
                    </div>
                </div>
                {% include _pdf-viewer.html %}
            </div>

            <!-- A R T  C A R D S -->
            <h1 class="mb-8"><span class="hdr-1-macro">Visual Work</span></h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 grid-flow-row-dense">
                {% for item in site.cards %}
                    {% if item.category contains 'art' or item.category contains 'design' %}
                        {% include _card.html
                        size=item.size
                        image=item.image
                        round_image=item.round_image
                        content=item.content
                        title=item.title %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include _footer.html %}
    </body>
</html>
